<div>
  <div class="profile-avatar">
    <div class="section__circle--big large-avatar">
      <%= image_tag "#{team.display_logo}", class: "team-logo-img" %>
    </div>
  </div>

  <div class="center-align">
    <h4><%= team.name %>
  </div>
</div>
