<div>
  <div class="profile-avatar">
    <div class="section__circle--big large-avatar">
        <img id="logo" src="<%= team.logo %>">
    </div>
  </div>

  <div class="center-align">
    <h4><%= team.name %>
  </div>
</div>
