<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <!-- <div class="card-title">
      Your First League
    </div> -->
    <div>
      <span>$1000</span>($100/player for a team of 10)
    </div>
    <div>
      Registration deadline: Feb. 18th
    </div>
  </div>
  <div class="edit-profile-actions card-actions--split card-action">
    <%= link_to season_path(@season), class: "waves-effect waves-light btn green darken-1" do %>
      Sign<span class="hide-on-small-only"> Me</span> Up!
    <% end %>
  </div>
</div>
