<% if defined?(@team) %>
  <% bg_color = @team.color %>
<% else %>
  <% bg_color = "#FFFFFF" %>
  <% secondary_color = "#f6f6f6" %>
<% end %>
<div class="profile-header" style="background-color: <%= secondary_color %>">
  <div class="guts--narrow__centered">
    <div class="section__circle-container__circle mdl-color--accent section__circle--big large-avatar">
      <% if @person.avatar.length > 1 then %>
        <img src="<%= @person.avatar %>">
      <% else %>
        <i class="material-icons">face</i>
      <% end %>
    </div>
  </div>
</div>
