<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Create a new note<% if @contact %> for <%= @contact.first_name %> <%= @contact.last_name %> <% end %>
      </div>
    </div>
    <%= render 'html_form', note: @note, contact: @contact %>
  </div>
</div>
