<div class="container">

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class="card-title">
        New League
      </div>
      <p>
        Create a new league. You can add seasons to the league once it's set up.
      </p>
      <p>
        A good league name is descriptive and concise; for example:
      </p>
      <ul>
        <li>
          Coed 7v7 Indoor League
        </li>
        <li>
          Men's Over 30 11v11 League
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <%= render 'form' %>
  </div>
</div>
