<li>
  <a href="<%= preview_season_path(team_season) %>" class="collapsible-header team-season-item">
    <div>
      <i class="material-icons" style="color: <%= team_season.team.color %>;">event_available</i>
      <% timeframe_array = [] %>
      <% team_season.season.timeframes.each do |timeframe| %>
        <% timeframe_array.push(timeframe.friendly_label)  %>
      <% end %>
      <%= timeframe_array.to_sentence  %>
      <% if team_season.season.start_date != nil %>
         starting
        <%= team_season.season.start_date.strftime("%b #{team_season.season.start_date.day.ordinalize}") %>
      <% end %>
    </div>
    <div>
      <i
        class="material-icons"
        <% if team_season.season_participations.count >= team_season.min_players %>
          style="color: #4a4a4a;"
        <% else %>
          style="color: tomato;"
        <% end %>
      >people</i>
      <i
        class="material-icons"
        <% if team_season.total_paid >= team_season.cost %>
          style="color: #4a4a4a;"
        <% else %>
          style="color: tomato;"
        <% end %>
      >attach_money</i>
    </div>
  </a>
</li>
