<li>
  <div class="collapsible-header team-season-item">
    <div>
      <i class="material-icons" style="color: <%= team.color %>;">event_available</i>
      <% timeframe_array = [] %>
      <% team_season.season.timeframes.each do |timeframe| %>
        <% timeframe_array.push(timeframe.friendly_label)  %>
      <% end %>
      <%= timeframe_array.to_sentence  %>
      <% if team_season.season.start_date != nil %>
         starting
        <%= team_season.season.start_date.strftime("%B #{team_season.season.start_date.day.ordinalize}") %>
      <% end %>
    </div>
    <div>
      <i
        class="material-icons"
        <% if team_season.season_participations.count >= team_season.min_players %>
          style="color: #6FA135;"
        <% else %>
          style="color: tomato;"
        <% end %>
      >people</i>
      <i
        class="material-icons"
        <% if team_season.total_paid >= team_season.cost %>
          style="color: #6FA135;"
        <% else %>
          style="color: tomato;"
        <% end %>
      >attach_money</i>
    </div>
  </div>
  <div class="collapsible-body">
    <!-- <div class="card-panel"> -->
      <%= render 'team_seasons/collapsible_item_body', team_season: team_season, team: team %>
    <!-- </div> -->
  </div>
</li>
