<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="cashed-out">
        <%= image_tag 'cash.gif', class: "cash-gif" %>
        <div>
          <p>
            Sweet, you're cashed out. The money should hit your account within 30 minutes.
          </p>
        </div>
      </div>
    </div>
    <div class="card-action edit-profile-actions">
      <%= link_to preview_season_path(@team_season), class: "waves-effect waves-light btn" do %>
        Back To Season
      <% end %>
    </div>
  </div>
</div>
