<div class="mini-header"></div>
<div class="left-pane hide-on-small-only">
  <div class="broken-leg">
    <%= image_tag 'sad_face' %>
    <div class="maybe-next-time">Maybe Next Time!</div>
  </div>
</div>

<div class="right-pane">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div>
          <%= render 'teams/team_basics', team: @team %>
        </div>

        <p class="simple-paragraph">
          We're sad you can't play this season, but you can still join the <%= @team.name %>
          and you'll be invited to future opportunities with the team.
          Let us know who you are and we will send you an invitation to the team.
        </p>

        <div class="invite-container">
          <%= render 'invites/create_remote', invite: @invite, team: @team %>
        </div>
      </div>
    </div>
  </div>
</div>
