<div class="mini-header"></div>
<div class="left-pane">
  <div class="broken-leg">
    <%= image_tag 'the-broken-leg-dribble.jpg' %>
    <div class="maybe-next-time">Maybe Next Time!</div>
  </div>
</div>

<div class="right-pane">
  allow user to join team while declining season
</div>
