<div id="philosophy" class="home-section">
  <div class="hero" style="
    min-height: 400px;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">

    <div class="container">
      <div class="community-title" style="text-align: center; display: flex; justify-content: center; align-items: center; color: white;">
        We Love Soccer
      </div>

      <div style="text-align: center; color: #ffffff; margin-top: 100px;" class="flow-text">
        And we are dedicated to cultivating players who have a passion for the game and skills to excel.
      </div>

    </div>
  </div>

</div>
<div id="training" class="home-section" style="margin-top: 100px;">
  <div class="home-section-header container">
    <!-- <h2>What Onside Offers</h2> -->
    <h2>Pursue More.</h2>
  </div>

  <div class="home-sub-section-container">
    <div class="container">
      <div class="flow-text">We believe that people are capable of more than they realize.</div><br>
      <div class="flow-text">We believe that with vision, hope, courage and deliberate hard work players can acheive success beyond their own expectactions.</div><br>
      <div class="flow-text">In everything we do we challenge players to train at a higher level, to have vision for their development as a player and diligently train themselves to become better.</div><br>
    </div>
    <!-- <div class="container">We craft products to help your business run smoothly. Our products are designed specifically for businesses like yours and they are very easy to use.</div> -->

    <div class="row">

      <div class="col s12 m12 l4">
        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: center; background-color: #f8f8f8;">
            <div class="card-title">
              Physical
            </div>
            <div>Physical fitness is an integral part of the game. For players to acheive their peak performance, maximizing their athletic potential is essential. So we offer training in the following:</div>
            <ul>
              <li style="list-style: circle inside;">Speed</li>
              <li style="list-style: circle inside;">Strength</li>
              <li style="list-style: circle inside;">Agility</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: center; background-color: #f8f8f8;">
            <div class="card-title">
              Technical
            </div>
            <div><b>Relationships are more important than margin</b></div>
            <ul style="text-align: left;">
              <li style="list-style: circle inside;">Partners listen to each other</li>
              <li style="list-style: circle inside;">Partners care about each other's success</li>
              <li style="list-style: circle inside;">Partners share a common goal</li>
              <li style="list-style: circle inside;">Partners develop lasting relationships</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="card hoverable" style="width: 100%">
          <div class="card-content" style="text-align: center; background-color: #f8f8f8;">
            <div class="card-title">
              Mental
            </div>
            <div><b>Improving strengths is the path to overcoming weakness</b></div>
            <ul style="text-align: left;">
              <li style="list-style: circle inside;">We enhance our partner’s strengths</li>
              <li style="list-style: circle inside;">We improve upon existing processes</li>
              <li style="list-style: circle inside;">We don’t replace things that are working well</li>
              <!-- <li style="list-style: circle inside;">We don’t fix things that are broken</li> -->
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <ul class="collection with-header" style="text-align: left; background-color: #f8f8f8; width: 100%; margin-top: 50px;">
        <li class="collection-item"><a href="<%= personal_training_path %>"><b style="margin-right: 30px;">Personal Training</b>              Tailored to a players specific needs and goals<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
        <!-- <li class="collection-item"><a href="<%= small_sided_path %>"><b style="margin-right: 30px;">Small Sided Teams</b>              Training and tournaments with small teams<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
        <li class="collection-item"><a href="<%= clinics_path %>"><b style="margin-right: 30px;">Clinics</b>              Intensive training sessions focused on specific skills<span class="secondary-content"><i class="material-icons">launch</i></span></a></li> -->
        <li class="collection-item"><a href="<%= resources_path %>"><b style="margin-right: 30px;">Online Resources</b>              Free online training resources<span class="secondary-content"><i class="material-icons">launch</i></span></a></li>
      </ul>
    </div>
  </div>
</div>
