<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag    'application' %>
  </head>
  <body>
    <div class="email-mini-header"></div>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <p class="email-text flow-text">
            Hey <%= @person.first_name %>!
          </p>
          <p class="email-text flow-text">
            Thanks for signing up to play soccer. If you wish to login to your Onside account to checkout your team details,
            schedule, or create a new team or season yourself, you can do so with your temporary password:
          </p>
          <p class="email-text flow-text">
            <code>
              <%= @generated_password %>
            </code>
          </p>
          <p class="email-text flow-text">
            You can reset it by logging in and changing it in your account settings.
          </p>
          <div class="email-action-container">
            <%=
              link_to @url,
              class: "waves-effect waves-light btn" do %>
                Sign in
            <% end %>
          </div>
          <p class="email-text flow-text">
            Thanks,<br>
            <br>
            The Gaffer
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
