<%= form_for(lead, remote: true) do |f| %>
<div class="row coming-soon-email-input-area">
  <div class="input-field col s12">
    <%= f.email_field :email, class: "coming-soon-email-input" %>
    <%= f.label :email, class: "coming-soon-email-label" %>
  </div>
  <%= button_tag(type: 'submit', class: "coming-soon-button btn waves-effect waves-light white") do %>
    Tell Me When It's Ready
  <% end %>
</div>
<% end %>
