<div class="coming-soon-thanks">
  Delightful! We'll be in touch soon.

  <div class="coming-soon-signature hide-on-small-only">
    <div>
    Stay Onside,
    <br>
    John Reagan
    </div>
  </div>
</div>
