<ul class="collapsible popout" data-collapsible="accordion">
  <li class="org-header">
    <a href="<%= org[:external_link] %>"><%= org[:name] %></a>
    <div class="chip hide-on-small-only">
      <%= org[:category] %>
    </div>
  </li>
  <% org[:opps].each do |opp| %>
    <%= render "opp_item", opp: opp %>
  <% end %>
</ul>
