<nav id="training-header" class="marketing">
  <div class="nav-wrapper">
     <a title="Home to Onside Harrisburg" href="/" class="brand-logo">
       <div class="logo-container">
         <%= image_tag "onside.svg", class: "header-logo" %>
       </div>
     </a>
     <a id="training-side-menu-icon" href="#" data-activates="training-side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a style="color: #424242;" href="#philosophy">Philosophy</a></li>
       <!-- <li><a style="color: #424242;" href="#training">Training</a></li> -->
       <li><a style="color: #424242;" class="dropdown-button" href="#" data-beloworigin="true" data-activates="training-dropdown">Training</a></li>
       <!-- <li><a style="color: #424242;" href="#why">Small Sided Teams</a></li>
       <li><a style="color: #424242;" href="#how">Personal Training</a></li>
       <li><a style="color: #424242;" href="#products">Camps and Clinics</a></li>
       <li><a style="color: #424242;" href="#products">Training Resources</a></li> -->
       <li><a style="color: #424242;" href="#coaches">Coaches</a></li>
       <li><a style="color: #424242;" href="#contact">Contact</a></li>
     </ul>
     <ul class="side-nav" id="training-side-menu">
       <li><a style="color: #424242;" href="#philosophy">Philosophy</a></li>
       <li><a style="color: #424242;" href="#training">Training</a></li>
       <!-- <li><a style="color: #424242;" href="#why">Small Sided Teams</a></li>
       <li><a style="color: #424242;" href="#how">Personal Training</a></li>
       <li><a style="color: #424242;" href="#products">Camps and Clinics</a></li>
       <li><a style="color: #424242;" href="#products">Training Resources</a></li> -->
       <li><a style="color: #424242;" href="#coaches">Coaches</a></li>
       <li><a style="color: #424242;" href="#contact">Contact</a></li>
     </ul>
  </div>
</nav>

<ul id="training-dropdown" class="dropdown-content" style="min-width: 250px;">
  <li><a style="color: #424242;" href="#why">Small Sided Teams</a></li>
  <li><a style="color: #424242;" href="#how">Personal Training</a></li>
  <li><a style="color: #424242;" href="#products">Camps and Clinics</a></li>
  <li><a style="color: #424242;" href="#products">Training Resources</a></li>
</ul>
