<div class="mini-header"></div>
<div>
  <div class="left-pane">
    <div class="guts--narrow__centered">
      <h1>Gaffer</h1>
      <h4>Lead Your Team</h4>
      <!-- Three categories for features or side: communicate. plan. decide. -->
    </div>
  </div>
  <div class="right-pane">
    <div class="guts--narrow__centered">
      <div class="action-container">
        <div class="main-actions">
          <div>
            <%= link_to "Register", new_person_registration_path,  class: "mdl-button mdl-js-button mdl-button--primary" %>
          </div>
          <div>
            <%= link_to "Sign In", new_person_session_path,  class: "mdl-button mdl-js-button mdl-button--accent" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
