<div class="mini-header"></div>
<div>
  <div class="left-pane">
    <div class="container">
      <div class="logo-container"><%= image_tag "onside.svg" %></div>
      <h4>Play Together</h4>
    </div>
  </div>
  <div class="right-pane">
    <div class="container guts--narrow__centered">
      <div class="action-container">
        <div class="main-actions">
          <div>
            <%= link_to "Register", new_person_registration_path,  class: "btn-flat waves-effect waves-green" %>
          </div>
          <div>
            <%= link_to "Sign In", new_person_session_path,  class: "btn-flat waves-effect waves-green" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
