<%= render "community_header" %>
<div>
  <div id="white-cover-map">
    <div class="subfinder-hero">
      <div class="container">
        <div class="subfinder-title">
          NO MORE F*RF**TS
        </div>
        <div class="subfinder-desc flow-text">
          Keep your league running smoothly with intelligent sub matching.
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="home-section">
      <div class="home-section-header">
        <h2>Simple Registration for Soccer Teams</h2>
      </div>
      <div class="home-sub-section-container">
        <div class="home-sub-section">
          <div class="home-sub-section-header">
            <h3>Easy Sign Up Page</h3>
          </div>
          <div class="container">
            <div class="home-sub-section-desc">
              <p class="flow-text">
                <ul class="home-list-points">
                  <li class="home-list-point">Quickly create a simple sign up page to share with you players.</li>
                  <li class="home-list-point">Provide players with the information they need to make the decision to join the team.</li>
                  <li class="home-list-point">Players quickly pay for the their registration online and reserve their spot in the team.</li>
                  <li class="home-list-point">Cash out instantly and directly receive the money in your bank account.</li>
                  <li class="home-list-point">Pay nothing to use Onside. Players pay a 5% processing fee when they register.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="home-sub-section">
          <div class="container">
            <div class="home-sub-section-img card">
              <div class="gif sign_up"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="home-section community-last" style="background:url('https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=ccf49c77862a41c128526e4260210f8a'); background-size: cover; background-position: bottom">
    <div class="community-last-overlay">
      <div class="container">
        <div class="price-line">
          Contact us to keep your league running smoothly with SubFinder.
        </div>
        <!-- <div class="price-detail">
          <p class="flow-text">
            Harrisburg Onside strives to provide accurate, up-to-date, information about opportunites to play, watch, and participate in soccer.
            We rely on your input to provide accurate information and provide a better experience for users.
            Please contact us with any new listings, corrections, general feedback, questions and ideas of how we can improve the site.
          </p>
        </div> -->
        <div class="action-container">
          <div class="main-actions">
            <div>
              <%= link_to "Contact", "mailto:gaffer@playonside.com",  class: "btn waves-effect waves-green white" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({ appToken: '4uo07emseza6om3y5azyjq56e' });
</script>
