<div class="container">
  <div class="card team-card">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#tasks">Tasks</a></li>
          <li class="tab col s6"><a href="#contacts">People</a></li>
        </ul>
      </div>
      <div id="tasks" class="col s12">
        <div class="card-content">
          <div id="task_list_container">
            <%= render 'task_list', reminders: @tasks, truncate_length: 50 %>
          </div>
        </div>
      </div>
      <div id="contacts" class="col s12">
        <nav style="background-color: #ffffff;">
          <div class="nav-wrapper" id="search-nav-wrapper">
            <form onsubmit="event.preventDefault()">
              <div class="input-field">
                <input id="search" class="search" style="height: 64px !important;" type="search"></input>
                <label class="label-icon" for="search">
                  <i class="material-icons" style="">search</i>
                </label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <%= render(
          partial: 'contacts/list',
          locals: { contacts: @contacts }
        ) %>

        <ul class="collection team">
          <li class="collection-item avatar valign-wrapper" style="padding-left: 15px;">
              <a href="<%= new_contact_path %>" class="btn-floating btn waves-effect waves-light valign" style="height: 42px; width: 42px;">
                <i class="material-icons" style="line-height: 42px;">add</i>
              </a>
            <%= link_to new_contact_path do %>
              <span class="valign" style="margin-left: 15px">Add A Contact</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- <th data-field="name">Name</th>
<th data-field="tags">Tags</th>
<th data-field="next_reminder">Next Reminder</th>
<th data-field="last_active">Last Activity</th> -->

<script>
  var options = {
      valueNames: [ 'name', 'tags', 'next_reminder', 'last_active' ]
  };

  var hackerList = new List('contacts', options);
</script>
