<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Send an email
      </div>
    </div>
    <%= render 'email_form', email: @email, contact: @contact %>
  </div>
</div>
