<% if new_submissions.length == 0 %>
  <div class="card">
    <div class="card-content">
      <p>No new submissions. You're all done here!</p>
    </div>
  </div>
<% else %>
  <%= render 'list', submissions: new_submissions %>
<% end %>
