<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Thank You
      </div>
      <div class="card-content">
        <p class="flow-text">You successfully paid <%= @player_fee.fee.label %></p>
        <br>
        <p class="flow-text">Thanks for being a part of the team.<p>
      </div>
    </div>
  </div>
</div>
