<%= form_tag select_path do %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Request Subs
      </div>

      <h4>Game</h4>
      <br>
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input class="" name="location" type="text" placeholder="Brooklyn Bridge Park, Pier 5, Field 3">
          <label>
            Location (e.g. "East Side Park, Field 3")
          </label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6 m6 l6">
          <input class="" name="game_date" type="text" placeholder="Thursday">
          <label>
            Game Day (e.g. "Thursday" or "Thursday the 13th")
          </label>
        </div>
        <div class="input-field col s6 m6 l6">
          <input class="" name="game_time" type="text" placeholder="10:00pm">
          <label>
            Game Time (e.g. "7:30pm")
          </label>
        </div>
      </div>

      <!-- <hr class="faint">

      <h4>Contact</h4>
      <br>
      <p>
        Hasn't been contacted in the last...
        <select class="input-field inline" id="last_contacted_select">
          <option value="any">Any time is ok.</option>
          <option value="1-days">1 day</option>
          <option value="2-days">2 days</option>
          <option value="3-days">3 days</option>
          <option value="4-days">4 days</option>
          <option value="5-days">5 days</option>
          <option value="1-weeks" selected >1 week</option>
          <option value="2-weeks">2 weeks</option>
        </select>
      </p>
      <p>
        Hasn't played as a sub in the last...
        <select class="input-field inline" id="last_subbed_select">
          <option value="any">Any time is ok.</option>
          <option value="1-days">1 day</option>
          <option value="2-days">2 days</option>
          <option value="3-days">3 days</option>
          <option value="4-days">4 days</option>
          <option value="5-days">5 days</option>
          <option value="1-weeks">1 week</option>
          <option value="2-weeks" selected >2 weeks</option>
        </select>
      </p> -->

      <h4>List(s)</h4>

      <select id="list-select" multiple>
        <option value="" disabled selected>Select List(s)</option>
        <% @org.sub_lists.each do |list| %>
          <option value="<%= list.id %>"><%= list.name %></option>
        <% end %>
      </select>

      <!-- <div class="row">
        <div class="col s12 m6 l6">
          <h4>Positions</h4>
          <br>
          <p>
            <input type="checkbox" class="filled-in" id="defender" name="defender" checked="checked" />
            <label for="defender">Defender</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="midfielder" name="midfielder" checked="checked" />
            <label for="midfielder">Midfielder</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="forward" name="forward" checked="checked" />
            <label for="forward">Forward</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="goalkeeper" name="goalkeeper" />
            <label for="goalkeeper">Goalkeeper</label>
          </p>
        </div>

        <div class="col s12 m6 l6">
          <h4>Player Type</h4>
          <br>
          <p>
            <input type="checkbox" class="filled-in" id="male" name="male" checked="checked" />
            <label for="male">Men</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" id="female" name="female" checked="checked" />
            <label for="female">Women</label>
          </p>
          <br>
          <p>
            <select id="experience-select">
              <option value="" disabled selected>Minimum Experience Level</option>
              <option value="beginner">Beginner</option>
              <option value="high-school">High School</option>
              <option value="college-club">College/Advanced Club</option>
              <option value="pro">Professional</option>
            </select>
          </p>
        </div>
      </div> -->

      <input id="experience" name="experience" type="hidden" value="" />
      <input id="last_contacted" name="last_contacted" type="hidden" value="1-weeks" />
      <input id="last_subbed" name="last_subbed" type="hidden" value="2-weeks" />
      <input id="lists" name="lists" type="hidden" value="" />

    </div>
    <div class="card-action edit-profile-actions">
      <input type="submit" class="submit waves-effect waves-light btn" value="Find Subs">
    </div>
  </div>
</div>
<% end %>

<script>
  $('#list-select').on("change", function(e){
    $('#lists').val($('#list-select').val())
  });

  $('#experience-select').on("change", function(e){
    $('#experience').val(e.currentTarget.value)
  });

  $('#last_contacted_select').on("change", function(e){
    $('#last_contacted').val(e.currentTarget.value)
  });

  $('#last_subbed_select').on("change", function(e){
    $('#last_subbed').val(e.currentTarget.value)
  });


</script>
