<div class="container">
  <div class="card">
    <div class="card-content">
      <h2>You nailed it.</h2>
      <p class="flow-text">You created a fee and sent it in an email to your players.</p>
      <br>
      <p class="flow-text">You saved yourself from handling <b><%= @fee.team.people.count %></b> checks or envelopes of cash, and <b><%= number_to_currency(@fee.total_amount / 100.0) %></b> is on it's way to your bank.</p>
      <br>
      <p class="flow-text">That's a win. Thanks for using Onside.<p>
    </div>
  </div>
</div>
