<div class="container">

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class="card-title">
        Create Fee
      </div>
      <p>
        Add a fee for your team.
        You can set a total amount and it will be evenly distributed among the players,
        or set an amount for each player and the total fee amount will be calculated.
      </p>
      <br>
      <p>
        Use a singular descriptive label for the fee. For example:
        <ul>
          <li>Uniform fee</li>
          <li>January Training Fee</li>
          <li>Smithtown Tournament Fee</li>
        </ul>
      </p>

    </div>
  </div>

  <div class="card">
    <%= render 'form' %>
  </div>
</div>
