/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import 'https://fonts.googleapis.com/css?family=Lato';
 @import 'https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';


@import "text-utilities";
@import "snackbar";
@import "snackbar-material";
@import "breakpoints";
@import "colors";
// From materialize docs, this is how you can overide color defaults.
@import "materialize/components/color";
$primary-color: $primary-green !default;
$secondary-color: $secondary-green !default;
@import 'materialize';

@import "font-types";
@import "layout";
@import "buttons";
@import "images";
@import "errors";
@import "registrations";
@import "home";
@import "teams";
@import "invites";
@import "profiles";
@import "seasons";
@import "tool-tips";
@import "emails";
@import "transactions";
@import "community";
@import "coming_soon";


a {
  text-decoration: none;
}

.snackbar.error {
  background-color: red;
}
.snackbar.alert {
  background-color: yellow;
  color: black;
}
.snackbar.notice {
  background-color: green;
}

html {
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $primary-bg;
}

header, main, footer {
  padding-left: 300px;
}

nav {
  display: none;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  nav {
    display: block;
  }
}

.side-nav.fixed .account-menu {
  a.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    i {
      color: $white;
      margin-right: 0px;
    }
  }
}

.dropdown-menu {
  display: none;
}

.side-nav.fixed a.team-menu-item {
  display: flex;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  img {
    height: 24px;
    width: 24px;
    margin-right: 32px;
  }
}

.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
  display: flex;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
}

 .side-nav .divider.sans-margin {
  margin-top: 0px;
}
