$primary-green: #04C860;
$secondary-green: #14994A;

//Grayscale
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);



// Errors
$primary-error: #F5640C;
$secondary-error: #C4500A;
$error-background: #F5F5F5;
$error-color: #6D6D6D;
