$primary: #04C860;

$primary-green: #6FA135;
$secondary-green: #619326;

//Grayscale
$clear: rgba(0,0,0,0);
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$faint: rgba(0,0,0,0.05);
$primary-bg: #f8f6f8;
$marketing-bg: #ffffff;



// Errors
$primary-error: #F5640C;
$secondary-error: #C4500A;
$error-background: #F5F5F5;
$error-color: #6D6D6D;


// Fonts
$dark-font: #5F5F5F;
$light-font: #949494;
