// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-area {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.reminder-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.sort {
  // padding:8px 30px;
  // border-radius: 6px;
  // border:none;
  // display:inline-block;
  // color:#fff;
  // text-decoration: none;
  // background-color: #28a8e0;
  // height:30px;
}
.sort:hover {
  // text-decoration: none;
  // background-color:#1b8aba;
}
.sort:focus {
  // outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.87);;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.87);;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

nav .input-field label i {
  color: rgba(64, 64, 64, 0.4);
}
