.email-mini-header {
  width:100%;
  height: 20px;
  background: repeating-linear-gradient(
    to right,
    #4a4a4a,
    #4a4a4a 100px,
    #619326 100px,
    #619326 200px
  );
}

.email-action-container {
  width: 100%;
  padding: 25px;
  text-align: center;
}

.email-text {
  padding: 10px;
}

.profile-avatar {
  .section__circle--big.large-avatar.email {
      height: 80px;
      width: 80px;

      img {
        height: 80px;
        width: 80px;
      }
  }
}

.profile-avatar.email {
  display: flex;
  justify-content: center;
}
