h1 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: $secondary-green;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 0px;
}

h4 {
  font-weight: lighter;
  color: rgba(0,0,0,.26);
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 60px;
}
