h1 {
  font-style: italic;
  font-weight: bold;
  color: $secondary-color;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 0px;
}

h4 {
  font-weight: lighter;
  color: $light-font;
  font-size: 18px;
}

.card-content {
  h4 {
    margin-bottom: 0px;
  }
}

h5 {
  font-weight: lighter;
  color: $light-font;
  font-size: 24px;
}

h6 {
  font-weight: 200;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
  // line-height: 110%;
  margin: 0rem 0 0.5rem 0;
}


@import 'https://fonts.googleapis.com/css?family=Kalam:300,400,700';

.awesome-sauce {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 50px;
  color: #30b562;
  // color: #da3335;
}

.maybe-next-time {
  margin-top: 30px;
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 50px;
  color: $dark-font;

  @media (max-width: $breakpoint-tablet) {
    font-size: 36px;
  }


}

code.share-link {
  display: block;
  background-color: ghostwhite;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-left: 5px solid $primary-color;
}

.card .card-content p.agreement-line {
  color: $light-font;
  font-size: 12px;
}
