.action-container {
  position: relative;

  height: 300px;

  @media (min-width: $breakpoint-tablet) {
    height: 180px;
  }

}

.main-actions {
  position: absolute;
  width: 100%;
  bottom: 0;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  background: $secondary-green;
  background-image: linear-gradient( 180deg, $primary-green, $secondary-green );
  padding-top: 150px;
  padding-bottom: 100px;

  .logo-container {
    display: flex;
    justify-content: center;
    img {
      max-width: 300px;
    }
  }

  .btn {
    color: $dark-font;
  }

  .btn-flat {
    color: $white;
  }

}

ul li.home-list-point {
  text-align: left;
  list-style: circle;
  list-style-position: outside;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.home-section {
  text-align: center;

  h2 {
    margin-top: 100px;
    margin-bottom: 0px;
    // font-family: lato;
    color: $primary-green;
    font-size: 36px;
  }

  h3 {
    margin: 50px;
    margin-bottom: 0px;
    // font-family: lato;
    color: $light-font;
    font-size: 24px;
  }

  .home-sub-section-container {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px;
  }

  .home-sub-section {
    width: 47%;
    min-width: 290px;
    // flex-grow: 1;

    .home-sub-section-desc {
      padding: 15px;
      p {
        text-align: left;
        font-size: 16px;
      }
    }

    .home-sub-section-img {
      max-width: 400px;

      // border: 1px solid $light-font;

      .gif.team {
        height: 667px;
        width: 375px;
        background-size: 100%;
        background-image: image-url("team_page.png");
        margin:auto; /*position the [div] on the center*/

        &:hover {
          cursor:pointer;
          background-image: image-url("team.gif");
        }

      }

      .gif.season_preview {
        height:175px;
        // width:320px;
        background-size: 100%;
        background-image: image-url("season_preview.png");
        margin:auto; /*position the [div] on the center*/

        &:hover {
          cursor:pointer;
          background-image: image-url("season_preview.gif");
        }
      }

      .gif.sign_up {
        @include aspect-ratio(413, 733);


        // max-height: 667px;
        max-width: 400px;
        background-size: 100%;
        background-image: image-url("sign_up.png");
        margin: auto; /*position the [div] on the center*/

        &:hover {
          cursor:pointer;
          background-image: image-url("sign_up.gif");
        }
      }


    }

  }

}


.home-section.last {
  display: flex;
  justify-content: center;
  background: $primary-green;
  background-image: linear-gradient( 0deg, $primary-green, $secondary-green );
  margin-top: 100px;
  padding-top: 150px;
  padding-bottom: 100px;

  .price-line {
    // font-family: lato;
    color: $white;
    font-size: 48px;
    font-weight: 600;
  }

  .price-detail {
    margin-top: 25px;
    color: $white;
    font-size: 18px;
    font-weight: 100;
  }

  .btn {
    color: $dark-font;
  }

  .btn-flat {
    color: $white;
  }
}
