body {
  margin: 0px;
  box-sizing: border-box;
}

nav .brand-logo {
  padding-left: 15px;
}

.card {
  margin: 2rem 0 1rem 0;
}

.page-header {
  text-align: center;
}

.main-content {
  // padding-top: 50px;
}

.main-content__card {
  width: 80%;
  min-width: 280px;
  max-width: 700px;
}

.main-content__form {
  width: 100%;
  padding-top: 50px;
}

.main-content__card-actions--end.mdl-card__actions.mdl-card--border {
  display: flex;
  justify-content: flex-end;
}

.card-actions--split {
  display: flex;
  justify-content: space-between;
}

.guts--narrow {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.guts--narrow__centered {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mini-header {
  height: 20px;
  background: repeating-linear-gradient(
    to right,
    $primary-green,
    $primary-green 100px,
    $secondary-green 100px,
    $secondary-green 200px
  );
}

.modal.bottom-sheet {
  max-height: 85%;
}


.content-section {
  margin: 30px;
  margin-top: 50px;
  @media(min-width: $breakpoint-tablet) {
    margin: 80px;
  }
}

.section-header {

  h2 {
    font-weight:400;
    font-size: 24px;
    @media(min-width: $breakpoint-tablet) {
      font-size: 36px;
    }
    color: $dark-font;
    line-height: 0px;
  }
}

hr.faint {
  border-top: 1px solid $faint;
}

.side-nav .userView {
  margin-bottom: 0px;
  padding: 16px;
}
