html, body {
  margin: 0px;
  box-sizing: border-box;
  // height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav .brand-logo {
  padding-left: 15px;
}

.card {
  margin: 2rem 0 1rem 0;
}

.page-header {
  text-align: center;
}

.main-content {
  // padding-top: 50px;
}

.main-content__card {
  width: 80%;
  min-width: 280px;
  max-width: 700px;
}

.main-content__form {
  width: 100%;
  padding-top: 50px;
}

.main-content__card-actions--end.mdl-card__actions.mdl-card--border {
  display: flex;
  justify-content: flex-end;
}

.card-actions--split {
  display: flex;
  justify-content: space-between;
}

.guts--narrow {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.guts--narrow__centered {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mini-header {
  position:fixed;
  width:100%;
  top:0px;
  z-index: 99999;
  height: 20px;
  background: repeating-linear-gradient(
    to right,
    $primary-green,
    $primary-green 100px,
    $secondary-green 100px,
    $secondary-green 200px
  );
}

.modal.bottom-sheet {
  max-height: 85%;
}


.content-section {
  margin: 30px;
  margin-top: 50px;
  @media(min-width: $breakpoint-tablet) {
    margin: 50px;
  }
}

.section-header {

  h2 {
    font-weight:400;
    font-size: 24px;
    @media(min-width: $breakpoint-tablet) {
      font-size: 36px;
    }
    color: $dark-font;
  }
}

.section-block {
  margin-left: 18px;
}

hr.faint {
  border-top: 1px solid $faint;
}

.side-nav .userView {
  margin-bottom: 0px;
  padding: 16px;
}

p.simple-paragraph {
  padding-top: 30px;
}

.card-title.with-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);

  .details {
    font-size: 16px;
  }
}

.z-depth-1, nav, .card-panel, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 3px 2px rgba(0,0,0,0.05);
}
.collapsible.popout > li.active {
  // box-shadow: 0 3px 2px rgba(0,0,0,0.05);
}
.collapsible.popout > li {
  box-shadow: 0 3px 2px rgba(0,0,0,0.05);
}

.background-image {
  height: 118%;
  // width: 100%;
  // background-size: fill;

  &.fields {
    background-image: image-url("aerial-soccer-fields.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    padding-top: 40px;
  }

}

.header-offset {
  margin-top: 64px;
}
