// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.editable {
  outline: none;

  &:focus {
    // border-bottom: 1px solid $primary-color;
  }
}
