.profile-page {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.profile-card {
  width: 80%;
  min-width: 280px;
  max-width: 700px;
}

.profile-header {
  width: 100%;
  padding-top: 50px;
}

.profile-avatar {
  display: flex;
  justify-content: center;
}

.profile-name {
  @extend .capitalize;
  display: flex;
  justify-content: center;
}

.profile-actions.mdl-card__actions.mdl-card--border {
  display: flex;
  justify-content: space-between;
}

.section__circle--big {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.large-avatar {
  border: 5px solid #ffffff;

  img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  i.material-icons {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
}
