.relate-hero {
  background-color: #393939;
  min-height: 400px;
  padding-top: 10px;
  border-bottom: 1px solid #dddddd;
}

.relate-title {
  color: #f2f2f2;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.relate-desc {
  color: #f2f2f2;
  text-align: center;
  margin-top: 20px;
}

#connect-header {
  background-color: #393939;
}

#connect-header nav.marketing ul a {
  color: #f2f2f2;
}


.home-sub-section .pricing {
  width: auto;
}
