// Place all the styles related to the Seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.block-container {
  position: relative;

  overflow: hidden;
  cursor: pointer;

  // &:hover .block-overlay {
  //   display: block;
  //   // visibility: visible;
  //   // opacity: 1;
  //
  //   transform: translateX(0)
  // }
}

// .block-overlay {
//   display: none;
//   // visibility: hidden;
//   // opacity: 0;
//
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//
//   margin: 20px 0;
//   padding-left: 1.5rem;
//
//   padding: 20px;
//
//   text-align: center;
//   background-color: rgba(#64B5F6, .8);
//   color: white;
//
//   transform: translateX(-20px);
//
//   transition: transform .15s ease-in-out;
// }

.share-link {
  color: $dark-font;
}


.season-container {
  display: block;
}

#season-map {
  height: 180px;
  @media(min-width: $breakpoint-tablet) {
    height: 280px;
  }
  background: #f6f6f6;
}

.sport-indicator {
  // display: none;
  position: absolute;
  top: 150px;
  @media(min-width: $breakpoint-tablet) {
    top: 250px;
  }
  left: calc(50% - 40px);
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid $white;

  img {
    width: 100%;
    height: auto;
  }
}

.season-title {
  text-align: center;

  p {
    color: $primary;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    @media(min-width: $breakpoint-tablet) {
      font-size: 36px;
    }
  }
}
.season-dates {
  font-weight: lighter;
  font-style: oblique;
  font-size: 19px;

  color: $light-font;
  letter-spacing: -0.29px;
}

.detail-item {
  font-size: 16px;
  margin-bottom: 8px;

  .detail-label {
    color: $light-font;
    font-weight: lighter;
  }
  .detail-value {
    color: $dark-font;
    font-weight: normal;
  }
}

.season-signup {
  margin-top: 30px;
  color: $light-font;
  font-weight: lighter;
  font-style: oblique;

  div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;
  }


  .season-sub-cost {
    display: flex;
    justify-content: space-between;
    color: $light-font;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
  }

  .season-total-cost {
    display: flex;
    justify-content: space-between;
    color: $dark-font;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
  }

  .season-button {
    color: $primary;
    background-color: $white;
  }
}

.season-total-cost.total-only {
  margin-top: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $dark-font;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}



.broken-leg {
  img {
    max-width: 400px; max-height: 300px;
  }
}

.preview-options .section {
  @media(min-width: $breakpoint-tablet) {
    .row {
      display: flex;
      align-items: center;
    }
  }
}

.sauce-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  .sauce-image {
    height: 70%;
    max-height: 600px;

  }
}




//////////////////////////////
// Checkout Form
/////////////////////////////

.checkout-team-header {
  display: flex;
  justify-content: flex-start;
  align-items: middle;

  .profile-avatar {
    margin-bottom: 0px;
  }

  .section__circle--big {
    height: 60px;
    width: 60px;

  }

  .name {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
  }
}

.checkout-team-card {
  i {
    // margin-left: 18px;
  }

  .season-details-row {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }

  .season-details {
    width: 100%;
    margin-top: -4px;
    font-weight: lighter;
    font-style: oblique;
    font-size: 19px;
    margin-left: 20px;

    // color: $light-font;
    letter-spacing: -0.29px;
  }

}

input[type="submit"] {
  &:focus {
    outline: none;
  }
}


.treasurer-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .avatar {
    margin-right: 1rem;
    height: 50px;
    width: auto;
  }

  .person {
    display: flex;
    align-items: center;
  }

  .name {
    text-transform: capitalize;
    margin-left: 0.3rem;
  }

  .card-ending {
    color: $light-font;
  }
}

.disbursal-detail {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
