// Place all the styles related to the Seasons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.block-container {
  position: relative;

  overflow: hidden;
  cursor: pointer;

  // &:hover .block-overlay {
  //   display: block;
  //   // visibility: visible;
  //   // opacity: 1;
  //
  //   transform: translateX(0)
  // }
}

// .block-overlay {
//   display: none;
//   // visibility: hidden;
//   // opacity: 0;
//
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//
//   margin: 20px 0;
//   padding-left: 1.5rem;
//
//   padding: 20px;
//
//   text-align: center;
//   background-color: rgba(#64B5F6, .8);
//   color: white;
//
//   transform: translateX(-20px);
//
//   transition: transform .15s ease-in-out;
// }



.season-container {
  display: block;
}

#season-map {
  height: 180px;
  @media(min-width: $breakpoint-tablet) {
    height: 280px;
  }
  background: #f6f6f6;
}

.sport-indicator {
  display: none;
  position: absolute;
  top: 200px;
  @media(min-width: $breakpoint-tablet) {
    top: 310px;
  }
  left: calc(50% - 40px);
  height: 70px;
  width: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid $white;

  img {
    width: 100%;
    height: auto;
  }
}

.season-title {
  text-align: center;

  p {
    color: $primary;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    @media(min-width: $breakpoint-tablet) {
      font-size: 36px;
    }
  }
}
.season-dates {
  margin-top: 8px;
  font-weight: lighter;
  font-style: oblique;
  font-size: 19px;
  @media(min-width: $breakpoint-tablet) {
    font-size: 26px;
    margin-top: 20px;

  }

  color: $light-font;
  letter-spacing: -0.29px;
}

.detail-item {
  font-size: 16px;
  margin-bottom: 8px;

  .detail-label {
    color: $light-font;
    font-weight: lighter;
  }
  .detail-value {
    color: $dark-font;
    font-weight: normal;
  }
}

.season-signup {
  margin-top: 30px;
  color: $light-font;
  font-weight: lighter;
  font-style: oblique;

  div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;
  }


  .season-cost {
    color: $dark-font;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
  }

  .season-button {
    color: $primary;
    background-color: $white;
  }
}

.broken-leg {
  img {
    max-width: 400px; max-height: 300px;
  }
}

.preview-options .section {
  @media(min-width: $breakpoint-tablet) {
    .row {
      display: flex;
      align-items: center;
    }
  }


}
