// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invitation-divider {
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.54);
  height: 48px;

  i {
    color: rgba(0, 0, 0, 0.54);
  }
}

a {
  color: rgba(0, 0, 0, 0.870588);
  font-weight: 400;
}

.collection .collection-item.avatar .circle {
    position: absolute;
    bottom: 20px;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
}

.team-header {
  padding: 15px;
  padding-top: 30px;

  .team-logo-container {
    display: flex;
    justify-content: center;
    // width: 100%;
  }

  .large-avatar {
    display: flex;
    justify-content: center;
  }

  .team-name {

    h3 {
      position: relative;
      // color: $light-font;
      font-weight: 100;
      padding: 15px;
      margin: 0px;
    }

    .edit-team-link {
      color: $light-font;
      position: absolute;
      top: 30px;
      margin-left: 15px;
      font-size: 1rem;
      line-height: 15px;
      border: 1px solid $faint;
      border-radius: 4px;
      padding: 10px;
    }
  }


  @media only screen and (max-width : $breakpoint-tablet) {
    display: flex;
    align-items: center;


    .team-logo-container {
      display: block;
    }

    .large-avatar {
      height: 42px;
      width: 42px;
    }

    .team-name {
      .edit-team-link {
        right: -48px;
        top: 28px;
      }
    }

    .team-logo-container.email {
      display: none;
    }

    // .section__circle--big.large-avatar.email {
    //   display: none;
    //   img {
    //     display: none;
    //   }
    // }


  }

}

.card.team-card {
  .collection {
    overflow: visible !important;
  }
}
