<div class="container">

  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <div class="card-title">
        New Sub List
      </div>
      <p>
        Create a list of potential subs.  You can use lists to organize people who you want to email as potential subs.
      </p>
      <p>
        For example, if you run a soccer league in NYC you might have a list called "Manhattan Indoor Subs" and a list called "Brooklyn Outdoor Subs". There can be overlap in the lists.
      </p>
    </div>
  </div>

  <div class="card">
    <%= form_for @list do |f| %>
      <div class="card-content">
        <div class="mdl-card__title mdl-card--expand">
          <div class="profile-header">

            <div class="row">
              <div class="input-field col s12 m12 l12">
                <%= f.text_field :name, required: true %>
                <%= f.label :name %>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class="edit-profile-actions card-action">
      <%= button_tag(type: 'submit', class: "btn waves-effect waves-light") do %>
        Create List
      <% end %>
    </div>
    <% end %>
  </div>
</div>
