<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Edit email template
      </div>
    </div>
    <%= render 'form', email_template: @email_template %>
  </div>
</div>
