<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Edit contact property
      </div>
    </div>
    <%= render 'form', contact_property: @contact_property %>
  </div>
</div>

<script>
  $('select').material_select('destroy');
  $('select').material_select();
</script>
