<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">
        Add a new property to track on your contacts
      </div>
    </div>
    <%= render 'form', contact_property: @contact_property %>
  </div>
</div>
